@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f6c667;
}

h1 {
  margin: 1.5rem;
  font-family: "Antic Slab", serif;
  letter-spacing: 0.13rem;
  font-size: 3.3rem;
}

input {
  width: 50rem;
  padding: 1.4rem 2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
  background-color: #005689;
  color: white;
  border: none;
  font-size: 1.5rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.25);
}

input::placeholder {
  color: white;
}

input:focus {
  outline: none;
  background-color: #003a5c;
}

h3 {
  margin-top: 1rem;
  font-family: "Antic Slab", serif;
}

p {
  margin: 1rem 0;
  font-family: "Antic Slab", serif;
  margin-bottom: 2.5rem;
}

.dataContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.data {
  width: 30rem;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 2rem;
  background-color: #007cb9;
  padding-top: 2rem;
  border-radius: 1rem;
  letter-spacing: 0.15rem;
  font-size: 1.6rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0.5rem 1.5rem;
  transition: 0.3s;
}
.data:hover {
  opacity: 0.6;
  transform: scale(1.1);
}
